{% extends 'base.html' %}

{% block title %} {{title}} {% endblock %}

{% block content %}

{% for v in form.error %}
    {{ v }}
{% endfor %}

{% if saved%}
<p class="bg-danger" style="padding: 10px; border-radius: 5px;">{{resault.name}} - {{resault.intager}} Добавлен</p>
{% endif %}

{% if form %}
<form method="POST" action="">
    {% csrf_token %}
    {{ form.as_p }}
        
    <button type="submit">ОК</button>
</form>
{% endif %}

{% endblock %}
