<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" 
        integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>sd</title>
</head>
<body>

    <div class="row">
        <div class="col-md-2">
            <div class="list-group">
                {% include 'sidebar.html' %}
            </div>
        </div>
        <div class="col-md-8">
            {% block content %}

            {% endblock %}
        </div>
        
    </div>

    

</body>
</html>